interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://trends.google.com/trends/explore/?geo=US
  response:
    body:
      string: <html lang=en><meta charset=utf-8><meta name=viewport content="initial-scale=1,
        minimum-scale=1, width=device-width"><title>Error 404 (Not Found)!!1</title><style
        nonce="Wo4dWod7TIo7H69PKLbPQA">*{margin:0;padding:0}html,code{font:15px/22px
        arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{color:#222;text-align:unset;margin:7%
        auto 0;max-width:390px;min-height:180px;padding:30px 0 15px;}* > body{background:url(//www.google.com/images/errors/robot.png)
        100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}pre{white-space:pre-wrap;}ins{color:#777;text-decoration:none}a
        img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png)
        no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png)
        no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png)
        0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png)
        no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}</style><main
        id="af-error-container" role="main"><a href=//www.google.com><span id=logo
        aria-label=Google role=img></span></a><p><b>404.</b> <ins>That’s an error.</ins><p>The
        requested URL was not found on this server. <ins>That’s all we know.</ins></main>
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://trends.google.com/trends/api/autocomplete/pizza?hl=en-US
  response:
    body:
      string: ')]}'',

        {"default":{"topics":[{"mid":"/m/0663v","title":"Pizza","type":"Dish"},{"mid":"/g/11k19hmrkk","title":"Licorice
        Pizza","type":"2021 film"},{"mid":"/m/0rg8s1t","title":"Dominos Pizza","type":"Topic"},{"mid":"/m/0dfxdnc","title":"Pizza
        dough","type":"Food"},{"mid":"/g/11hdxfw7c0","title":"history of pizza","type":"Food"}]}}'
    headers:
      Content-Disposition:
      - attachment; filename="json.txt"
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
